@font-face {
    font-family: 'linux-libertine';
    src: url('/linux_libertine/LinLibertine_R.ttf') format('truetype');
}

body {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    margin: 0; 
    font-family: 'linux-libertine', sans-serif; 
    align-items: center; 
    justify-content: center; 
    background-color: #f0f0f0 ;
    color: #333
}

header, main, footer {
    width: 80%;
    max-width: 600px;
    text-align: center;

}

header, main, footer {
   
    width: 80%;
    max-width: 600px; 
    text-align: center; 
}

main {
    flex: 1; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

#instructions-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 10; 
}

#instuctions-box {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 30px;
}

#instuctions-desc {
    font-size: 25px;
}

button {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; 
    margin: 5px; 
}

button:hover {
    background-color: #3e8e41; 
}

button:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}

#quiz-title {
    margin-top: 80px;

}

#quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

#article-title {
    font-size: 30px;
}

#question-text {
    font-size: 23px;
    margin-bottom: 20px;
}
#result-message {
    font-size: 25px;
}

#strikes {
    font-weight: bold;
    color: #f44336;

}
#next-button {
    display: block;
    margin: auto;
}
#restart-button {
    background-color: #f44336;
    display: none;
}
